trigger:
  branches:
    include:
      - main

pool:
  vmImage: "ubuntu-latest"

variables:
  acrName: "acrsearchms2025"
  acrLoginServer: "acrsearchms2025.azurecr.io"
  imageName: "img-searchms"
  webAppName: "app-searchms"
  resourceGroup: "rg-searchms"

stages:
  - stage: Build
    jobs:
      - job: BuildAndPush
        displayName: Build and push image to ACR
        steps:
          - task: Docker@2
            displayName: Build and push image
            inputs:
              command: buildAndPush
              repository: $(imageName)
              dockerfile: Dockerfile
              containerRegistry: "ACR-ServiceConnection"
              tags: |
                $(Build.BuildId)
                latest

  - stage: Deploy
    dependsOn: Build
    jobs:
      - job: DeployToContainerApp
        displayName: Deploy to Azure Container App
        steps:
          - task: AzureCLI@2
            displayName: Deploy new image to Azure Container App
            inputs:
              azureSubscription: "Azure-ServiceConnection"
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                echo "Updating container app image to: $(acrLoginServer)/$(imageName):$(Build.BuildId)"
                az containerapp update \
                  --name $(webAppName) \
                  --resource-group $(resourceGroup) \
                  --image $(acrLoginServer)/$(imageName):$(Build.BuildId)
