trigger:
  branches:
    include:
      - main

pool:
  vmImage: "ubuntu-latest"

variables:
  acrName: "acrsearchms"
  acrLoginServer: "acrsearchms.azurecr.io"
  imageName: "searchms"
  webAppName: "searchms-app"
  resourceGroup: "ms-search-rg"

stages:
  - stage: Build
    jobs:
      - job: BuildAndPush
        steps:
          - task: Docker@2
            displayName: Build and push image
            inputs:
              command: buildAndPush
              repository: $(imageName)
              dockerfile: Dockerfile
              containerRegistry: "ACR-ServiceConnection"
              tags: |
                $(Build.BuildId)
                latest

  - stage: Deploy
    dependsOn: Build
    jobs:
      - deployment: DeployToAzure
        environment: "production"
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: Deploy to Azure App Service
                  inputs:
                    azureSubscription: "Azure-ServiceConnection"
                    appName: $(webAppName)
                    containers: $(acrLoginServer)/$(imageName):$(Build.BuildId)
